/* - Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)
- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%) */

.features {
    text-align: center;
    margin: 5rem 0;
    padding: 0 1.5rem;
}

.feature-intro h2 {
    width: 75%;
    margin: 0 auto;
}

.feature-intro p {
    font-size: 1rem;
    line-height: 1.5;
}

.feature-item {
    margin: 4rem 0;
}

.feature-item div {
    margin: 1rem 0;
}

.feature-intro h2 {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 1.875rem;
}

.feature-title {
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.feature-desc {
    font-size: 1rem;
    line-height: 1.5;
}

@media screen and (min-width: 40em) {
    .features {
        text-align: left;
        padding: 0 1rem;
    }

    .feature-intro h2 {
        width: 100%;
    }
    
    .feature-layout {
        display: flex;
        flex-wrap: wrap;
    }

    .feature-item {
        text-align: center;
        flex: 0 0 50%;
        margin: 0;
        padding: 1rem 0.50rem;
    }

    .feature-item div {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 64em) {
    .features {
        max-width: 80rem;
        margin: 2rem auto 2rem auto;
    }

    .feature-intro {
        width: 50%;
    }

    .feature-intro h2 {
        font-size: 2.25rem;
    }

    .feature-intro p {
        font-size: 1.25rem;
    }

    .feature-item {
        flex: 1;
        padding: 0.9375rem;
    }

    .feature-item div {
        margin: 2rem 0;
    }

    .feature-title {
        font-size: 1.5rem;
    }

    .feature-desc {
        text-align: left;
        font-size: 1rem;
        line-height: 1.5;
    }
}